*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
h1 {
    font-family: arial;
    text-align: center;
    padding-top: 50px;
}
.slotBox {
    padding-top: 10px;
    margin: 0 auto;
    width: 600px;   
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.Box {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
#txt {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}
label {
    width: 70px;
    display: inline-block;
    margin: 10px 0 0 20px;
    
}
.spin {
    background: #000;
    color: white;
}
input {
    text-align: center;
    height: 25px;
}
#addText {
    margin: 20px;
}



